<div class="container">

    <h1>Formulaire</h1>

    <form [formGroup]="homeForm" (ngSubmit)="onSubmit(homeForm.value)">

        <div class="container">
            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                <input type="radio" id="star5" name="note" formControlName="note" value="5" required/><label for="star5" title="5 star">5</label>
                <input type="radio" id="star4" name="note" formControlName="note" value="4" required/><label for="star4" title="4 star">4</label>
                <input type="radio" id="star3" name="note" formControlName="note" value="3" required/><label for="star3" title="3 star">3</label>
                <input type="radio" id="star2" name="note" formControlName="note" value="2" required/><label for="star2" title="2 star">2</label>
                <input type="radio" id="star1" name="note" formControlName="note" value="1" required/><label for="star1" title="1 star">1</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Numéro SIRET</span>
            </div>
            <input type="text" class="form-control" placeholder="SIRET" name="SIRET" formControlName="SIRET" required>
        </div>
        <textarea class="form-control" name="text" formControlName="text" placeholder="Commentaire"></textarea>
        <button class="btn btn-primary" type="submit">Publier l'avis</button>

    </form>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Note</th>
                <th scope="col">SIRET</th>
                <th scope="col">Avis</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of eventList">
                <td>{{ event.note }}</td>
                <td>{{ event.SIRET }}</td>
                <td>{{ event.text }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <u>Nombre d'avis :</u>
                {{ count1 }}
            </div>
            <div class="col-4">
                <u>Nombre d'avis commentés :</u>
                {{ count2 }}
            </div>
        </div>
    </div>
</div>
